@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-sm;
}

@layer components {
  table.project-equipments thead tr th {
    @apply text-base font-mono font-normal text-center p-2 bg-transparent;
  }

  table.project-equipments tbody tr th {
    @apply font-mono font-normal text-center p-1 bg-transparent;
  }

  table.project-equipments tbody tr td {
    @apply font-mono font-normal text-center p-1 bg-transparent;
  }
}



.card {
  @apply flex flex-wrap bg-white-blue mx-8 p-4 shadow-md rounded-md space-x-2;
}

.bnt {
  @apply bg-white-gray hover:bg-gray-300 p-2 rounded;
}

.bnt-add {
  @apply bg-[#5EED9A] p-2 rounded hover:bg-[#4cc27d];
}

.bnt-blue {
  @apply bg-blue-600 text-white p-2 rounded hover:bg-blue-700;
}

.bnt-red {
  @apply bg-red-600 text-white p-2 rounded hover:bg-red-700;
}
