@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-gray-50 mx-8 p-4 shadow-md rounded-md flex flex-wrap space-x-2;
}

.bnt {
  @apply bg-gray-300 hover:bg-gray-400 p-1 rounded;
}

.bnt-add {
  @apply bg-green-600 text-white p-2 rounded hover:bg-green-700;
}

.bnt-blue {
  @apply bg-blue-600 text-white p-2 rounded hover:bg-blue-700;
}

.bnt-red {
  @apply bg-red-600 text-white p-2 rounded hover:bg-red-700;
}